nav {
  width: 100%;
  background-color: var(--primary);
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
}

a { 
  color: var(--opacity);
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
}

a:hover { 
  font-weight: 800;
  color: rgb(29, 52, 152);
}

.active {
  color: rgb(168, 17, 17);
}

.home-link { color: rgb(243, 193, 101); }
